<div x-data="{ open: false }" class="relative inline-block">
    <button @click="open = !open" class="btn">Dropdown</button>
    <div x-show="open" @click.away="open = false" class="absolute mt-2 w-48 bg-white border rounded shadow">
        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Option 1</a>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Option 2</a>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Option 3</a>
    </div>
</div>
